<!DOCTYPE html>
<html>
<head>
    <title>Word Input</title>
</head>
<body>

    <!-- <form action="/count" method="post">
        <label for="words">Enter words (separated by commas):</label><br>
        <input type="text" id="words" name="words"><br><br>
        <input type="submit" value="Count words">
    </form> -->
    <form action="/result" method="POST">
        <label for="word">分類する単語を入力してください。</label>
        <input type="text" id="word" name="word">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
